.fondo {
    background-image: url('src/assets/fondoMuni.png');
    background-size: contain;
    background-repeat:no-repeat ;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-clip: fixed;
}
