.fullContainer{
    display: flex;
    flex-direction: row;
    height: 450px;
    border: 2px solid aliceblue;
    border-radius: 15px;
    backdrop-filter: blur(10px) saturate(120%);
    box-shadow: inset 0 0 60px 0px rgba(255, 255, 255, 0.25);
}

.formContainer{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    width: 480px;
}

.formContainer form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}

/* .inputIncorrecto{
    border-color: red;
} */

.inputsContainer{
    display: flex;
    flex-direction: column;
    margin: 40px 0px 60px 0px;
    gap: 10px;
}

.inputsContainer div{
    display: flex;
    flex-direction: column;
}

.inputsContainer input{
    outline: none;
    border-radius: 15px;
    border: 2px solid aliceblue;
    background-color: transparent;
    height: 5px;
    width: 230px;
    padding: 12px 5px 12px 5px;
    color: aliceblue;
}

.inputsContainer label{
    display: flex;
    flex-direction: column;
    font-size: 0.70em;
}

.bx {
    width: 25px;
    font-size: 25px;
    cursor: pointer;
    transform: translate(250px,-27px);
}

.bottomContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.bottomContainer button{
    height: 25px;
    width: 230px;
    border-radius: 15px;
    background-color:rgb(255, 255, 255);
    color: rgb(129, 150, 254);
    border: none;
}

.bottomContainer a{
    text-decoration: none;
    font-size: 0.80em;
    font-weight: 500;
    color: aliceblue;
}

/* .bottomContainer p{
    color: rgb(255, 0, 0);
    font-size: 0.75em;
    position: absolute;
    bottom: 10px;
} */

.phoneContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border: 2px solid aliceblue;
    border-radius: 15px;
    padding: 0px 20px 0px 20px;
    position: relative;
    height: 450px;
    width: 250px;
    left: 2px;
    bottom: 2px;
}

.phoneContainer img{
    width: 150px;
    height: auto;
}

button:hover{
    background-color: rgb(129, 150, 254);
    color: aliceblue;
    cursor: pointer;
}

a:hover{
    color: rgb(129, 150, 254);
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 785px){

    .phoneContainer{
        display: none;
    }
}

@media (max-width: 480px){

    .fullContainer{
        min-height: 100vh;
        border: none;
        border-radius: none;
        backdrop-filter: none;
        box-shadow: none;
    }

    .formContainer{
        min-height: 100vh;
        border: none;
        border-radius: none;
        width:inherit;
    }

    .titleContainer h1{
        font-size: 3.5em;
    }

    .inputsContainer{
        margin: 100px 0px 60px 0px;
    }

    .inputsContainer input{
        height: 20px;
        width: 280px;
        font-size: 1.75em;
    }
    
    .bottomContainer{
        margin-bottom: 10px;
    }

    .bottomContainer button{
        width: 280px;
        height: 40px;
        font-size: 1.20em;
        font-weight: bold;
    }

    .bx{
        width: 28px;
        font-size: 28px;
        transform: translate(300px,-37px);
    }

    .bottomContainer p{
        bottom: 30px;
    }
}