:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bcd5ff;
    background-image: 
        radial-gradient(at 47% 33%, hsl(203.22, 98%, 68%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(311.90, 65%, 70%) 0, transparent 55%);

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}